/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop */
@media (min-width: 1200px) {

  .navmenu {
    display: block;
  }

  .navmenu ul {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a:hover,
  .navmenu .active {
    color: var(--nav-hover-color);
  }

  .mobile-nav-toggle {
    display: none;
  }
}


/* Mobile / tablette */
@media (max-width: 1199px) {

  .mobile-nav-toggle {
    display: block;
    color: var(--nav-color);
    font-size: 28px;
    cursor: pointer;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    overflow-y: auto;
    z-index: 9998;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--nav-dropdown-color);
    font-size: 17px;
    font-weight: 500;
  }

  .navmenu a:hover,
  .navmenu .active {
    color: var(--nav-dropdown-hover-color);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }

  .mobile-nav-active .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999;
    color: #fff;
    font-size: 32px;
  }
}